colorama==0.4.6
esp-bool-parser==0.1.4
esp_idf_panic_decoder==1.4.2
filelock==3.20.0
iniconfig==2.3.0
numpy==2.3.5
packaging==25.0
pexpect==4.9.0
pluggy==1.6.0
ptyprocess==0.7.0
pyelftools==0.32
Pygments==2.19.2
pyparsing==3.2.5
pyqtgraph==0.14.0
PySide6==6.10.1
PySide6_Addons==6.10.1
PySide6_Essentials==6.10.1
pytest==9.0.1
pytest-embedded==2.4.0
pytest-embedded-idf==2.4.0
scapy==2.6.1
shiboken6==6.10.1
